# .gitignore

# Ignorar el directorio node_modules
node_modules/

# Ignorar el archivo .env que contiene las variables de entorno
.env

# Ignorar los archivos de log
*.log

# Ignorar el directorio de la caché de npm
.npm/

# Ignorar el directorio de la caché de yarn
.yarn-cache/

# Ignorar el directorio dist que contiene el código compilado
dist/